@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Roboto:wght@100;300;500;700&display=swap");
/* Start Global Rules */
* {
  box-sizing: border-box;
}

:root {
  --main-color: #e12d2c;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--section-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

/* Start Global Rules */
/* Start global classes */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  margin: 0px auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  text-transform: uppercase;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title::before, .main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -15%;
  top: 100%;
  z-index: 1;
  display: block;
  height: 30px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  background-image: url("./../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}

.dots-up {
  top: 200px;
  right: 0;
}

.dots-down {
  bottom: 200px;
  left: 0;
}

/* End global classes */
/* Start Header */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: 50px;
    padding-top: 15px;
  }
}
header .container .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header .container .main-nav {
    margin: auto;
  }
}
header .container .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
header .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  transition: var(--main-transition);
}
header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .container .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .container .main-nav > li > a:hover::before {
  left: 0;
}
@media (max-width: 767px) {
  header .container .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

/* End Header */
/* Start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .landing .container {
    min-height: auto;
  }
}
.landing .container .text {
  flex: 1;
}
.landing .container .text h1 {
  font-size: 40px;
  margin: 0;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
    letter-spacing: -1px;
  }
}
.landing .container .text p {
  font-size: 24px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .container .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .landing .container .text {
    flex: none;
    margin-bottom: 35px;
  }
}
.landing .container .image img {
  position: relative;
  width: 350px;
  animation: up-to-down 5s linear infinite;
}
@media (max-width: 767px) {
  .landing .container .image img {
    width: 150px;
  }
}
.landing .go-down {
  position: absolute;
  color: var(--main-color);
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down svg {
  animation: bouncing 1.5s infinite;
}

/* End landing */
/* Start About */
.about-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.about-us .container p {
  font-size: 20px;
  line-height: 1.8;
}

/* End About */
/* Start Gallery */
.our-vehicles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.our-vehicles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.our-vehicles .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 20px 0px rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.our-vehicles .container .box .image {
  position: relative;
  overflow: hidden;
}
.our-vehicles .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.our-vehicles .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 0px;
  height: 0px;
  opacity: 0;
  z-index: 2;
}
.our-vehicles .container .box .image:hover::before {
  animation: flashing 0.7s;
}
.our-vehicles .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* End Gallery */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  position: relative;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}
.testimonials .container .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .container .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .container .box span {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .container .box .rate .filled {
  color: #ffc107;
}
.testimonials .container .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}

/* End Testimonials */
/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .service {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .container .service::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  height: 3px;
  top: -3px;
  width: 0;
  transition: var(--main-transition);
}
.services .container .service:hover::before {
  width: 100%;
}
.services .container .service:hover {
  transform: translateY(-10px);
}
.services .container .service > svg {
  display: block;
  margin: 30px auto 20px;
  text-align: center;
  color: #d5d5d5;
}
.services .container .service > h3 {
  text-align: center;
  color: var(--main-color);
  margin: 20px 0 40px;
  font-size: 25px;
}
.services .container .service .info {
  position: relative;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: right;
}
.services .container .service .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .container .service .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .container .service .info a {
  text-transform: capitalize;
  color: var(--main-color);
}

/* End Services */
/* Start Starts */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url("./../imgs/stats.jpg");
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .container .stat {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .container .stat:hover {
  opacity: 1;
}
.stats .container .stat::before, .stats .container .stat::after {
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  transition: 1s;
  background-color: var(--main-color);
}
.stats .container .stat::before {
  left: 0;
  bottom: 0;
}
.stats .container .stat::after {
  right: 0;
  top: 0;
}
.stats .container .stat:hover::before, .stats .container .stat:hover::after {
  height: 100%;
}
.stats .container .stat .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all var(--main-transition);
}
.stats .container .stat .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

/* End Starts */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .discount {
    margin-bottom: 10px;
  }
}
.discount .image {
  background-image: url("./../imgs/discount-background1.jpg");
  background-size: cover;
  color: white;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 5s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 135, 224, 0.97);
  z-index: -1;
}
.discount .image .content {
  text-align: center;
  padding: 0 20px;
}
.discount .image .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .image .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  margin-bottom: 60px;
}
.discount .image .content img {
  width: 300px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
.discount .form .content {
  text-align: center;
  padding: 0 20px;
}
.discount .form .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  color: var(--main-color);
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form .input:focus {
  outline: none;
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form input[type=submit] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form input[type=submit]:hover {
  background-color: var(--main-color-alt);
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}

/* End Discount */
/* Start Footer */
footer {
  background-color: #191919;
  padding: 70px 0 0;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .container .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
footer .container .box .social {
  display: flex;
}
footer .container .box .social li {
  margin-right: 10px;
}
footer .container .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
footer .container .box .social li a.facebook:hover {
  background-color: #1877f2;
}
footer .container .box .social li a.instagram:hover {
  background-color: #c13584;
}
footer .container .box .social li a.youtube:hover {
  background-color: #ff0000;
}
footer .container .box .text {
  line-height: 2;
  color: #b9b9b9;
}
footer .container .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
footer .container .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .container .box .links li:hover {
  padding-left: 10px;
}
footer .container .box .links li:hover a {
  color: white;
}
footer .container .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
footer .container .box .links li a::before {
  font-family: "Font Awesome 6 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .container .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
footer .container .box .line svg {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
footer .container .box .line .info {
  line-height: 1.7;
  flex: 1;
}
footer .container .box .line .info span {
  display: block;
}
footer .container .box.footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}

/* End Footer */
/* Start Animation */
@keyframes change-background {
  0%, 100% {
    background-image: url("./../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("./../imgs/discount-background2.jpg");
  }
}
@keyframes up-to-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end Animation *//*# sourceMappingURL=app.css.map */